@model IList<PVT.Models.Usuario>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Criar Novo contato</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
               Usuarios
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.ID">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@item.ID">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>