@model PVT.Models.Setor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Setor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRICAO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATA_CRIACAO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATA_CRIACAO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_CRIACAO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_CRIACAO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATA_ALTERACAO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATA_ALTERACAO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_ALTERACAO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_ALTERACAO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STATUS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
